<h1><%= @restaurant.name %></h1>
<h3><%= @restaurant.address %></h2>
<h4><%= @restaurant.phone_number %></h2>
<h4>Category: <%= @restaurant.category %></h2>

<%= link_to "Go to home.", restaurants_path %>
